@model System.Web.Mvc.HandleErrorInfo

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width = device-width" />
    <title>Error</title>
</head>

<body>
    <h2>
        Sorry, an error occurred while processing your request.
    </h2>
    <h2>Exception details</h2>

    <p>
        Controller: @Model.ControllerName <br>
        Action: @Model.ActionName
        Exception: @Model.Exception
    </p>

</body>
</html> 