
@{
    ViewBag.Title = "Completion of registration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h2>@ViewBag.Title</h2>

    <p>Further instructions for completing registration have been sent to the email address provided</p>
